// colors
$color-primary: #F26B34;
$color-secondary: #FFE24B;

$color-LightBlue: #E6F3F8;
$color-PalePink: #F6EEEE;
$color-BrightOrange: #F0641F;
$color-DarkOlive: #41431D;
$color-white: #ffffff;
$color-grey: #f0f0f0;

// neutrals
$textDark: #2d2d2d;
$textLight: #F6EEEE;

// Transition variables
$duration: 0.25s;
$mediumDuration: 0.35s;
$longDuration: 0.5s;
