@import '../../../sass/base';

.navbarDesktop{
    position: absolute;
    z-index: 11;
    width: 100%;
    padding: 8rem 14rem 2rem 14rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px){
        display: none;
    }

    .logoContainer{
        height: 10rem;
        .logo{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .list{
        list-style: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        gap: 4rem;

        
        .item{
            font-size: 2.5rem;
            
            &:not(:last-child)::after{
                content: '';
                display: block;
                height: 2px;
                width: 0;
                margin-top: -4px;
                background-color: $color-primary;
                transition: all .2s;
            }
            &:hover:not(:last-child)::after{
                content: '';
                display: block;
                height: 2px;
                width: 100%;
                margin-top: -4px;
                background-color: $color-primary;
                transition: all .2s;
            }
            &:nth-child(4){
                position: relative;
                
                .layoutContainer{
                    height: 7rem;
                    width: 28rem;

                    .layout{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .number{
                    font-family: sans-serif;
                    color: $color-primary;
                    white-space: nowrap;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
.navbarMob{
    position: absolute;
    z-index: 11;
    padding: 5rem 5rem 2rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 767px){
        display: none;
    }

    .logoContainer{
        height: 8rem;

        .logo{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .phone,
    .menu{
        font-size: 3.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
