@import '../../../sass/base';

.footer{
    position: relative;
    background-color: $color-LightBlue;
    overflow: hidden;
    padding-top: 35rem;

    .layout{
        height: 65rem;

        position: absolute;
        left: -33rem;
        bottom: -20rem;

        @include response(phone){
            height: 55rem;
            left: -30rem;
            bottom: -15rem;
        }

        .img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .numberContainer{
        .box{
            position: relative;

            width: max-content;
            height: 14rem;
            margin-left: auto;
            margin-right: auto;

            @include response(phone){
                height: 10rem;
            }

            .bgImage{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            
            .numberBox{
                display: flex;
                align-items: center;
                gap: 3rem;

                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                .iconBox{
                    height: 5rem;
                    aspect-ratio: 1;

                    @include response(phone){
                        height: 3.5rem;
                    }

                    .icon{
                        height: 100%;
                        object-fit: contain;
                    }
                }
                .number{
                    font-family: sans-serif;
                    font-size: 5rem;
                    color: $color-white;
                    white-space: nowrap;

                    @include response(phone){
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    .contentContainer{
        padding: 10rem 25rem 3rem 25rem;
        
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 768px){
            flex-direction: column-reverse;
            padding: 10rem 10rem 3rem 10rem;
        }

        .containerLeft{
            display: flex;
            flex-direction: column;

            .logoContainer{
                height: 17rem;

                @media screen and (max-width: 768px){
                    margin-bottom: 2rem;
                }

                .logo{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            .copywrite{
                font-family: sans-serif;
                font-size: 1.8rem;
                color: $color-primary;
                margin-top: auto;

                @media screen and (max-width: 768px){
                    text-align: center;
                    margin-top: 0;
                }
            }

            .craftedByMob{
                display: block;
                font-size: 1.8rem;
                font-family: sans-serif;
                color: $color-primary;
                margin-left: auto;
                margin-top: 5rem;

                @media screen and (min-width: 767px){
                    display: none;
                }
            }
        }
        .containerRight{
            
            .iconsContainer{
                display: flex;
                justify-content: flex-end;
                gap: 3rem;

                @media screen and (max-width: 768px){
                    justify-content: center;
                }

                .iconContainer{
                    position: relative;
                    height: 8rem;

                    .bgIcon{
                        height: 100%;
                        object-fit: contain;
                    }
                    .icon{
                        font-size: 5rem;
                        color: $color-white;

                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .contactContainer{
                
                @media screen and (max-width: 768px){
                    margin-bottom: 2rem;
                }

                .address,
                .craftedBy,
                .email{
                    font-family: sans-serif;
                    text-align: end;
                    font-size: 2.4rem;

                    @media screen and (max-width: 768px){
                        text-align: center;
                    }
                }
                .heading{
                    text-align: end;
                    font-size: 5.2rem;
                    margin-top: 3rem;

                    @media screen and (max-width: 768px){
                        text-align: center;
                    }
                }
                .address{
                    margin-top: 3rem;
                    span{
                        display: block;
                    }
                }
                .email{
                    margin-top: 2rem;
                }
                .craftedBy{
                    display: block;
                    font-size: 1.8rem;
                    color: $color-primary;
                    margin-left: auto;
                    margin-top: 2rem;

                    @media screen and (max-width: 768px){
                        display: none;
                    }
                }
            }
        }
    }
}
