// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import './fonts/styleSheet.scss';
@import './sass/base';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Candy Cake", sans-serif;
  font-weight: 300;
  color: $textDark;
  overflow-x: hidden;
  max-width: 1920px;
  margin-inline: auto;
}
